@import url(https://fonts.googleapis.com/css?family=Abel);

body{
    font-family:Abel;
    background-color: #white;
    color:black;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

    width: 90%;
    height: 90%;
    min-width: 400px;
    max-width: 600px;

}

h1{
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}



#cityName{
    min-height: 40px;

}

#temp{
    min-height: 50px;
}

#hilo{
    min-height: 25px;

}

#iconDiv{
    min-height: 100px;
}
